% SPDX-FileCopyrightText: 2025 Łukasz Niemier <~@hauleth.dev>
%
% SPDX-License-Identifier: Apache-2.0

{erl_opts, [debug_info]}.
{deps, [telemetry]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [sauron]}
]}.

{profiles, [{test, [{deps, [telemetry_registry]}]}]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_lint,
    erlfmt
]}.

{ex_doc, [
    {extras, [<<"README.md">>]},
    {main, <<"readme">>}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
